<!--Main-->

        
        {% include 'pages/nav.html' %}
        

        <section id="main">        
        <!--name-->
            <div class="mypicture">
                <img src='/static/images/me-circle.png'>
            </div>
    
            <div class="name">
                <!--hello-->
                <p>Hello</p>
                
                <!--name-->
                <h1>I'm <font color="#17d1ac">Andres</font> Cendales</h1>
                
                <!--details-->
                <p class="details">
                    Cum accusamus pariatur aliquam sapiente possimus quos aut eligendi veritatis, 
                    inventore sequi eaque, rerum temporibus sed laborum, dicta qui animi obcaecati est 
                    cupiditate voluptas aperiam, laudantium numquam aperiam perferendis nihil quos atque?
                    Voluptatem vel recusandae ut.
                </p>
            <!--cv button-->
            {% comment %} <a href="#" class="cv-btn">Download Cv</a> {% endcomment %}
    
            <div class="social">
                <a href="#"><i class="fab fa-github"></i></a>	
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        


        <!--down arrow-->
        {% comment %} <div class="black-line" ></div> {% endcomment %}
        
        <!--social-->

    </section>

    <!--About-->
    <section id="about">
    
        <!--text-->
        <div class="about-text">
            <h1>About Me</h1>
            <h2>Backend Developer</h2>
            <p>Incidunt nam cupiditate ullam voluptatum minus quis, placeat corrupti quod? 
            Magni quidem explicabo quis recusandae velit quod cum? Necessitatibus quod ut 
            laudantium non fuga sed distinctio at officiis molestias?</p>
            <button>View More Details</button>
        </div>
    </section>

    <!--Services-->
    <section id="services">

        <!--heading-->
        <div class="s-heading">
            <h1>Services</h1>
            <p>Here Is The Some Servies Which We Provide You.</p>
        </div>    

        <!--services-box-container-->
        <div class="b-container">
        {% for service in portfolio.0 %} 
            {% include 'pages/services_card.html' %}
        {% endfor %}   
        </div>
    </section>

    <!--Portafolio-->
    <section id="portfolio">

        <!--heading-->
        <h1 class="p-headind">Portfolio</h1>
        
        <!--portfolio-container-->
        <div class="p-container">
            {% for project in portfolio.1 %} 
                {% include 'pages/project_card.html' %}
            {% endfor %} 
        </div>
    </section>

    
    <!--Contact-btn-->
    <section id="contact-btn">
        <!--heading-->
        <h1 class="c-b-heading">If You Have Any Project In Your Mind ?</h1>
        <!--btn-->
        <button >Contact Me</button>
    </section>

    {% include 'pages/contact_form.html' %}